*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-green{
  background: #A1D214;
}

.logo{
  width: 193px;
  height: 193px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  left: -50px;
  z-index: 2;
  background: white;
}