*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-green{
  background: #A1D214;
}

.icon-green{
  color: #A1D214;
}

.logo{
  width: 193px;
  height: 193px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  left: -50px;
  z-index: 2;
  background: white;
}
.qalesan{
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.zor{
  width: 135px;
}
.yomon{
  width: 425px;
}

.yomon__input:focus{
  outline: none;
}


.it{
  margin-top: 10px;
}

.menu__top{
  padding-left: 193px;
}

.menu__bottom{
  width: calc(100% - 60px);
  margin-left: auto;
}

.header__link:hover{
  color: #A1D214 !important;
}

.swiper{
  width: 855px;
  height: 361px;
}

.swiper-slide{
  border-radius: 10px;
}

.bg-violet{
  background: linear-gradient(90deg, #E53935 0%, #E35D5B 100%);
}
.bg-green{
  background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
}

.bg-yellow{
  background: linear-gradient(90deg, #C21500 0%, #FFC500 100%);
}

.z-minus-2{
  z-index: -2;
}

.text-black{
  color: #333333;
}

.product{
  line-height: 10px;
  font-size: 8px;
}