*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-green{
  background: #A1D214;
}

.logo{
  width: 193px;
  height: 193px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  left: -50px;
  z-index: 2;
  background: white;
}
.qalesan{
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.zor{
  width: 135px;

}
.yomon{
  width: 425px;
}
.it{
  margin-top: 10px;
}
